{% extends 'base.html.twig' %}

{% block title %}{{ 'subject.name'|trans}}{% endblock %}

{% block body %}

<h1>{{ 'subject.name'|trans}}</h1>

<a class="btn btn-primary" href="{{path('subject_new')}}">{{ 'subject.addSubject'|trans}}</a>

<br><br>

<table class="table">
    <thead>
        <tr>
            <td>{{ 'subject.name'|trans}}</td>
            <td>Coefficient</td>
            <td>Action</td>
        </tr>
    </thead>
    <tbody>
        {% for subject in subjects %}
        <tr>
            <td>{{subject.name}}</td>
            <td>{{subject.coefficient}}</td>
            <td><a class="btn btn-primary" href="{{path('subject_detail', {id:subject.id})}}"><i class="fas fa-info"></i></a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
