{% extends 'base.html.twig' %}


{% block title %}

{% if editTitle %}

{{ 'subject.editSubject'|trans}}
    
{% else %}

{{ 'subject.addSubject'|trans}}

{% endif %}

{% endblock %}


{% block body %}

{% if editTitle %}

<h1>{{ 'subject.editSubject'|trans}}</h1>

{% else %}

<h1>{{'subject.addSubject'|trans}}</h1>

{% endif %}

{{form(formSubject)}}

{% endblock %}